{{#if fetchComments.isRunning}}
  <span data-test-comments-loading>
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </span>
{{else}}
  <div data-test-post-comments>
    {{#each slicedComments as |comment|}}
      <Comment @comment={{comment}}/>
    {{/each}}
    {{#if shouldShowExpandCommentOption}}
      <button
        class="font-sans bg-transparent border border-gray-500 hover:border-teal-500 text-xs text-gray-500 hover:text-teal-500 font-bold py-2 px-4 rounded-full"
        {{action "expandComments"}}
      >
        Show more comments
      </button>
    {{/if}}
  </div>
{{/if}}
