<div class="font-sans">
  <h1 class="post-header">{{@post.name}}</h1>
</div>
<p class="py-6 text-base">
  {{@post.body}}
</p>
<div class="post-footer">
  <button class="react-button">React</button>
</div>
<div {{on "click" this.getRecentEmojis}} style="height: 25px; width: 25px; background-color: blue;"></div>
<br><br>
