<div class="font-sans">
  <h1 class="post-header">{{@post.name}}</h1>
</div>
<p class="py-6 text-base">
  {{@post.body}}
</p>
<div class="post-footer">
  <button {{on "click" this.getRecentEmojis}} class="react-button">React</button>
</div>
